In [1]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [2]:
#Upload do arquivo
from google.colab import files
arq = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks.xlsx

In [3]:
#Criando nosso DataFrame
df = pd.read_excel("AdventureWorks.xlsx")

In [4]:
#Visualizando as 5 primeiras linhas
df.head()

  Data Venda Data Envio  ID Loja  ...            Marca   Classe  Cor
0 2008-05-09 2008-05-29      199  ...  Adventure Works  Regular  Red
1 2008-05-12 2008-05-17      306  ...  Adventure Works  Regular  Red
2 2008-05-14 2008-05-20      306  ...  Adventure Works  Regular  Red
3 2008-05-21 2008-05-27      306  ...  Adventure Works  Regular  Red
4 2008-06-20 2008-06-27      306  ...  Adventure Works  Regular  Red

[5 rows x 16 columns]

In [5]:
#Quantidade de linhas e colunas
df.shape

(904, 16)

In [6]:
#Verificando os tipos de dados
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [7]:
#Qual a Receita total?
df["Valor Venda"].sum()

5984606.1426

In [8]:
#Qual o custo Total?
df["custo"] = df["Custo Unitário"].mul(df["Quantidade"]) #Criando a coluna de custo

In [9]:
df.head(1)

  Data Venda Data Envio  ID Loja  ...   Classe  Cor    custo
0 2008-05-09 2008-05-29      199  ...  Regular  Red  2091.48

[1 rows x 17 columns]

In [10]:
#Qual o custo Total?
round(df["custo"].sum(), 2)

2486783.05

In [11]:
#Agora que temos a receita e custo e o total, podemos achar o Lucro total
#Vamos criar uma coluna de Lucro que será Receita - Custo
df["lucro"]  = df["Valor Venda"] - df["custo"]

In [ ]:
df.head(1)

In [ ]:
#Total Lucro
round(df["lucro"].sum(),2)

In [ ]:
#Criando uma coluna com total de dias para enviar o produto
df["Tempo_envio"] = df["Data Envio"] - df["Data Venda"]

In [ ]:
df.head(1)

In [ ]:
#Agora, queremos saber a média do tempo de envio para cada Marca, e para isso precisamos transformar a coluna Tempo_envio em númerica

In [ ]:
#Extraindo apenas os dias
df["Tempo_envio"] = (df["Data Envio"] - df["Data Venda"]).dt.days

In [ ]:
df.head(1)

In [ ]:
#Verificando o tipo da coluna Tempo_envio
df["Tempo_envio"].dtype

In [ ]:
#Média do tempo de envio por Marca
df.groupby("Marca")["Tempo_envio"].mean()

In [ ]:
#Missing Values

In [ ]:
#Verificando se temos dados faltantes
df.isnull().sum()

In [ ]:
#E, se a gente quiser saber o Lucro por Ano e Por Marca?

In [ ]:
#Vamos Agrupar por ano e marca
df.groupby([df["Data Venda"].dt.year, "Marca"])["lucro"].sum()

In [ ]:
 pd.options.display.float_format = '{:20,.2f}'.format

In [ ]:
#Resetando o index
lucro_ano = df.groupby([df["Data Venda"].dt.year, "Marca"])["lucro"].sum().reset_index()
lucro_ano

In [ ]:
#Qual o total de produtos vendidos?
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=False)

In [ ]:
#Gráfico Total de produtos vendidos
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=True).plot.barh(title="Total Produtos Vendidos")
plt.xlabel("Total")
plt.ylabel("Produto");

In [ ]:
df.groupby(df["Data Venda"].dt.year)["lucro"].sum().plot.bar(title="Lucro x Ano")
plt.xlabel("Ano")
plt.ylabel("Receita");

In [ ]:
df.groupby(df["Data Venda"].dt.year)["lucro"].sum()

In [ ]:
#Selecionando apenas as vendas de 2009
df_2009 = df[df["Data Venda"].dt.year == 2009]

In [ ]:
df_2009.head()

In [ ]:
df_2009.groupby(df_2009["Data Venda"].dt.month)["lucro"].sum().plot(title="Lucro x Mês")
plt.xlabel("Mês")
plt.ylabel("Lucro");

In [ ]:
df_2009.groupby("Marca")["lucro"].sum().plot.bar(title="Lucro x Marca")
plt.xlabel("Marca")
plt.ylabel("Lucro")
plt.xticks(rotation='horizontal');

In [ ]:
df_2009.groupby("Classe")["lucro"].sum().plot.bar(title="Lucro x Classe")
plt.xlabel("Classe")
plt.ylabel("Lucro")
plt.xticks(rotation='horizontal');

In [ ]:
df["Tempo_envio"].describe()

In [ ]:
#Gráfico de Boxplot
plt.boxplot(df["Tempo_envio"]);

In [ ]:
#Histograma
plt.hist(df["Tempo_envio"]);

In [ ]:
#Tempo mínimo de envio
df["Tempo_envio"].min()

In [ ]:
#Tempo máximo de envio
df['Tempo_envio'].max()

In [ ]:
#Identificando o Outlier
df[df["Tempo_envio"] == 20]

In [ ]:
df.to_csv("df_vendas_novo.csv", index=False)